.nav-button
  %span.lines

%ul.nav
  %li
    = link_to 'Home', '/'
  %li
    = link_to 'About', 'about.html'
  %li
    = link_to 'Projects', 'projects.html'
  %li
    = link_to 'Playground', 'playground.html'
  %li
    = link_to 'Start a Project', '#', class: 'contact-trigger'
